#homeHeroImage {
  width: 100%;
  object-fit: cover;
}

.homeHeroImageContainer {
  height: 100vh;
  max-height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
}

#homeHeroImageLabel {
  position: absolute;
  bottom: 5%;
  width: 75%;
}
