<mat-toolbar id="footer" color="primary">
  <div class="footerContainer">
    <p>CONTACT</p>
    <p>Please feel free to contact me <a routerLink="/about">here</a></p>
    <button
      mat-button
      class="socialMediaLogoButton"
      (click)="
        redirectToSocialMedia(
          'https://www.instagram.com/jakerussell.photography/'
        )
      "
    >
      <img
        class="socialMediaLogo"
        src="../../assets/images/logos/instagram_logo.png"
        alt=""
      />
    </button>
    <button
      mat-button
      class="socialMediaLogoButton"
      (click)="redirectToSocialMedia('https://www.linkedin.com/in/jcrussell1/')"
    >
      <img
        class="socialMediaLogo"
        src="../../assets/images/logos/linkedin_logo.png"
        alt=""
      />
    </button>
    <button
      mat-button
      class="socialMediaLogoButton"
      (click)="redirectToSocialMedia('https://twitter.com/jakesnaps')"
    >
      <img
        class="socialMediaLogo"
        src="../../assets/images/logos/twitter_logo.png"
        alt=""
      />
    </button>
    <button
      mat-button
      class="socialMediaLogoButton"
      (click)="redirectToSocialMedia('https://500px.com/p/jake_russell1')"
    >
      <img
        class="socialMediaLogo"
        src="../../assets/images/logos/500px_logo.png"
        alt=""
      />
    </button>
  </div>
</mat-toolbar>

<mat-toolbar id="secondaryFooter" color="primary">
  <div class="footerContainer">
    Copyright © 2022 <strong>Jake Russell</strong> | All Rights Reserved
  </div>
</mat-toolbar>
