.carousel-container {
  position: relative;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  box-shadow: 0 8px 16px #dce1e1;
}

.carousel-container img {
  display: none;
  width: fit-content;
  border-radius: 5px;
}

.carousel-container img.image-active {
  display: block;
  margin: auto;
  height: calc(100vh - 120px);
}

.carousel-dot-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}

/* Image transition fade effect */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: white;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.btn-carousel:hover .icon-carousel {
  opacity: 0.9;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.icon-carousel {
  color: white;
  opacity: 0.5;
  transition: all 0.15s ease;
}

.icon-carousel:active {
  opacity: 0.5s;
}

.icon-prev,
.icon-next {
  /* font-size: 70px; */
}
