.footerContainer {
  height: 20vh;
  min-height: 175px;
  padding-bottom: 2px;
}

.primaryFooter {
  width: 100%;
  height: 75%;
  border-bottom: 2px solid gray;
}

.secondaryFooter {
  width: 100%;
  height: 25%;
}

.footerContent {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}

.footerContent h2,
.footerContent p {
  margin: 0;
}

.footerContent a {
  color: white;
}

.socialMediaLogo {
  margin: 1% 2% 0 0;
  cursor: pointer;
  padding: 0;
  width: 5%;
  min-width: 40px;
  bottom: 0;
  border-radius: 5px;
}

.socialMediaLogo:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 450px) {
  .footerContent {
    width: 90%;
  }
}
