<form
  #formReference="ngForm"
  [formGroup]="contactForm"
  (ngSubmit)="onFormSubmit(formReference)"
>
  <div class="formField">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput />
      <mat-error>
        <span
          *ngIf="
            !contactForm.get('name')?.valid && contactForm.get('name')?.touched
          "
          >Please enter your name</span
        >
      </mat-error>
    </mat-form-field>
  </div>

  <div class="formField">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
      <mat-error>
        <span
          *ngIf="
            !contactForm.get('email')?.valid &&
            !contactForm.get('email')?.errors?.email &&
            contactForm.get('email')?.touched
          "
          >Please enter your email address</span
        >
        <span
          *ngIf="
            !contactForm.get('email')?.valid &&
            contactForm.get('email')?.errors?.email &&
            contactForm.get('email')?.touched
          "
          >Please enter a valid email address</span
        >
      </mat-error>
    </mat-form-field>
  </div>

  <div class="formField">
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input formControlName="subject" matInput />
      <mat-error>
        <span
          *ngIf="
            !contactForm.get('subject')?.valid &&
            contactForm.get('subject')?.touched
          "
          >Please enter your subject</span
        >
      </mat-error>
    </mat-form-field>
  </div>

  <div class="formField">
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <input formControlName="message" matInput />
      <mat-error>
        <span
          *ngIf="
            !contactForm.get('message')?.valid &&
            contactForm.get('message')?.touched
          "
          >Please enter your message</span
        >
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button type="submit" [disabled]="!contactForm.valid">
    Submit
  </button>

  <!-- <div class="example-container"></div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput />
      <mat-error>
        <span
          *ngIf="
            !contactForm.get('name')?.valid && contactForm.get('name')?.touched
          "
          >Please enter your name</span
        >
      </mat-error>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
      <mat-error>
        <span
          *ngIf="
            !contactForm.get('email')?.valid &&
            contactForm.get('email')?.touched
          "
          >Please enter your email address</span
        >
      </mat-error>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input formControlName="subject" matInput />
      <mat-error>
        <span
          *ngIf="
            !contactForm.get('subject')?.valid &&
            contactForm.get('subject')?.touched
          "
          >Please enter your message subject</span
        >
      </mat-error>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <input formControlName="message" matInput />
      <mat-error>
        <span
          *ngIf="
            !contactForm.get('message')?.valid &&
            contactForm.get('message')?.touched
          "
          >Please enter your message</span
        >
      </mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button
      mat-fab
      color="primary"
      aria-label="submit"
      [disabled]="!contactForm.valid"
    >
      <mat-icon>check</mat-icon>
    </button>
  </div> -->
</form>

<!--
<br />Dirty: {{ addNewCarForm.dirty }} <br />Touched:
{{ addNewCarForm.touched }} <br />Valid: {{ addNewCarForm.valid }} <br />Value:
{{ addNewCarForm.value | json }}
-->
