<mat-toolbar class="primaryColour">
  <button mat-button routerLink="/">
    <img
      src="../../assets/images/jake_russell_photography_logo.png"
      alt=""
      id="jake_russell_photography_logo"
    />
  </button>
  <button mat-button routerLink="/">Home</button>
  <button
    mat-button
    [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger"
    (mouseenter)="buttonEnter(menuTrigger)"
    (mouseleave)="buttonLeave(menuTrigger)"
    style="z-index: 1050"
  >
    Gallery
    <mat-icon *ngIf="!isMatMenuOpen">chevron_right</mat-icon>
    <mat-icon *ngIf="isMatMenuOpen">expand_more</mat-icon>
  </button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/contact">Contact</button>
</mat-toolbar>

<mat-menu #menu="matMenu" direction="down" yPosition="below">
  <span
    (mouseenter)="isMatMenuOpen = true"
    (mouseleave)="menuLeave(menuTrigger)"
  >
    <button mat-menu-item routerLink="/gallery/portrait">Portraits</button>
    <button mat-menu-item routerLink="/gallery/landscape">Landscapes</button>
    <button mat-menu-item routerLink="/gallery/architecture">
      Architecture
    </button>
    <button mat-menu-item routerLink="/gallery/still_life">Still Life</button>
    <button mat-menu-item routerLink="/gallery/travel">Travel</button>
    <button mat-menu-item routerLink="/gallery/automotive">Automotive</button>
  </span>
</mat-menu>
