.topGalleryContainer {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.galleryText,
.galleryCarousel {
  flex: 1 0 35%;
  padding: 20px;
}

.galleryTitle {
  text-align: center;
}
