<div class="topGalleryContainer">
  <div class="galleryCarousel">
    <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
  </div>

  <div class="galleryText">
    <h1 class="galleryTitle">Portrait Gallery</h1>
    <p>
      I've chosen a selection of some of my favourite portrait images,
      showcasing the different styles and techniques that I use in my work.
    </p>
    <p>
      Having never experimented with unique portrait styles before studying
      A-Level Photography, I was really able to explore and develop different
      creative concepts and ideas.
    </p>
    <p>
      In my first year, we used only film cameras, meaning that the different
      techniques I used had to be implemented either in camera, or in post
      production in the darkroom.
    </p>
    <p>
      Using in camera techniques, I was able to experiment with different
      shutter speeds and apertures to achieve unique creative effects. In the
      darkroom I was also able to apply creative techniques such as 'dodging'
      and 'burning' to lighten and darken specific areas, helping to create a
      well balanced image.
    </p>
    <p>
      In my second year, we were able to use digial cameras too. This allowed me
      to really experiment with different ideas, without the worry of running
      out of film! It also allowed me to fully utilise the power of Photoshop to
      edit, manipulate, and perfect my work.
    </p>
    <p>
      I really enjoy portrait photography, capturing the different empotions and
      characteristics of a person in one still image. I was able to learn a lot
      about directional skills, and also about lighting, allowing me to achieve
      different effects with different lighting setups.
    </p>
  </div>
</div>
<image-gallery [images]="allImages"></image-gallery>
