/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
  transform: none !important;
}

.mat-dialog-container {
  height: auto !important;
  padding: 0 !important;
}

.six-by-four,
.four-by-six,
.four-by-one,
.one-by-one {
  max-width: 90vw;
  max-height: 90vh;
}

.six-by-four {
  aspect-ratio: 6 / 4;
}

.four-by-six {
  aspect-ratio: 4 / 6;
}

/* .four-by-one {
  aspect-ratio: 4 / 1;
} */

.one-by-one {
  aspect-ratio: 1 / 1;
}

.primaryColour {
  background-color: #252525;
  color: white;
}
