.topGalleryContainer {
  display: flex;
  height: calc(100vh - 75px);
}

.left,
.right {
  padding: 20px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

@media only screen and (max-width: 640px) {
  .topGalleryContainer {
    display: block;
    height: 100%;
  }
  .left {
    width: 90%;
    margin: auto;
  }
  .right {
    width: 90%;
  }
}
