.homeImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  max-width: 90vw;
  height: auto;
  margin: 10px 0 0 0;
}

.homeImage {
  width: 100%;
  border-radius: 5px;
}

.homeImageLabel {
  width: 80%;
  position: absolute;
  bottom: 40%;
}

.homeImageContainer:hover {
  cursor: pointer;
}

.labelHovered,
.homeImageContainer:hover .label {
  display: none;
}

.label,
.homeImageContainer:hover .labelHovered {
  display: block;
}
